@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Examples";
    
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
        </hgroup>
    </div>
   
    <div>

        <a href="ReferenceSupportExample.cshtml"><h1>Reference Support</h1></a>
        <a href="LeafDefaultExample.cshtml"><h1>Leaf Default Support</h1></a>

</div>

</section>
}
