
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Default Demo", "LeafDefaultExample")
</p>
<p>
    @Html.ActionLink("ReferenceSupport Demo", "ReferenceSupportExample")
</p>